argcomplete==2.0.6
asgiref==3.6.0
autopep8==2.0.2
backports.zoneinfo==0.2.1
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.6
commitizen==2.42.1
cryptography==40.0.1
decli==0.5.2
Django==4.2
django-rest-knox==4.2.0
djangorestframework==3.14.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.0
prompt-toolkit==3.0.38
pycodestyle==2.10.0
pycparser==2.21
pytz==2023.3
PyYAML==6.0
questionary==1.10.0
sqlparse==0.4.3
termcolor==2.2.0
tomli==2.0.1
tomlkit==0.11.7
typing-extensions==4.5.0
wcwidth==0.2.6
